.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}

.legend rect {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}


.legend text {
  font-family: sans-serif;
  font-size: 10px;
}
